@font-face {
    font-family: fa-solid;
    src: url(../../assets/fonts/fa-solid.ttf);
}
@font-face {
    font-family: mochiy;
    src: url(../../assets/fonts/mochiy/MochiyPopOne-Regular.ttf);
}
@font-face {
    font-family: archi;
    src: url(../../assets/fonts/archi/archi.ttf);
}
@font-face {
    font-family: OtomanopeeOne;
    src: url(../../assets/fonts/otomanopeeOne/OtomanopeeOne-Regular.ttf);
}
@font-face {
    font-family: Nunito;
    src: url(../../assets/fonts/NunitoSans-ExtraLight.ttf);
}
@font-face {
    font-family: Nunito-Regular;
    src: url(../../assets/fonts/NunitoSans-Regular.ttf);
}
