$clr1:#F7E8E3(136, 136, 136);
$clr2:#D5BEC2(136, 136, 136);
$clr3: #B5AA99(30, 30, 30);
$clr4:#FFCE6B(255, 56, 92);
$clr5:#A58E65(226, 226, 226, 0.363);
$clr6:#A6725F;
$clr7: #4E4637(231, 231, 231);
$clr8: #8b008b(231, 231, 231);