.empty-cart {
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    width: 60%;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 7px black;
    border-radius: 4%;
    text-align: center;
    padding: 30px;
    color: #a58e65;
    font-family: mochiy, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
    .total-price {
        background: rgba(255, 255, 255, 0.8);
        font-size: 1.7rem;
        box-shadow: 0 0 7px black;
        border-radius: 4%;
        text-align: center;
        padding: 30px;
        color: #a58e65;
        font-family: archi, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        margin-top:20px ;
        width: 42vw;
        align-self: center;
    }
    .amount {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 13px;
    }
