.app-header {
    background-color: #ffce6b;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    .navbar {
        .logo {
            margin: 3px 0 10px 24px;
            font-size: 2.5rem;
            font-family: OtomanopeeOne, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
            text-align: center;
            color: #8b008b;
        }
    }

    .user-header {
        margin-right: 28px;
        display: flex;
        justify-content: right;
        .patch {
            align-items: flex-end;
            display: flex;
            .coverage {
                width: 8px;
                height: 10px;
                background-color: #ffce6b;
                position: absolute;
            }
        }
        .cart {
            margin-top: 5px;
            &::after {
                font-family: fa-solid;
                content: "\f07a";
                color: #8b008b;
                // color:$clr8 ;
                font-size: 41px;
            }
        }
        .quantity-products {
            border-radius: 50%;
            background-color: #d5bec2;
            color: darkslategrey;
            height: 26px;
            width: 22px;
            text-align: center;
            margin-right: 15px;
            font-family: mochiy, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        }
        .quantity {
            border-radius: 50%;
            background-color: #ffce6b;
            color: darkslategrey;
            height: 26px;
            width: 22px;
            text-align: center;
            margin-right: 15px;
        }
        .user-menu {
            display: flex;
            align-items: center;
            cursor: pointer;
            border-radius: 40px;
            width: max-content;
            .user-menu-img {
                width: 57px;
                height: 53px;
                border-radius: 50%;
                padding: 0px 0px 0px 2px;
            }

            .modal {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                position: fixed;
                top: 40%;
                left: 50vw;
                transform: translate(-50%, -50%);
                color: rgb(27, 27, 27);
                border: 2px solid #fff;
                background-color: #D5BEC2;
                width: 400px;
                height: 400px;
                box-shadow: 0 0 2px 2px rgb(138, 137, 137);
            } 

            .container {
                font-size: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-family: archi, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
                align-items: center;
                .close-modal-btn{
                    border-radius: 3px;
                    padding: 10px;
                    background-color: #8a9dee;
                    color: white;
                    border: none;
                    margin-top: 85px;
                width: 145px;
                text-decoration: none;
                &:hover {
                    background-color: #7b8dda;
                }
                }
                .signup-btn {
                    border-radius: 3px;
                    padding: 10px;
                    background-color: #8a9dee;
                    color: white;
                    border: none;
                    margin-top: 20px;
                width: 320px;
                text-decoration: none;
                &:hover {
                    background-color: #7b8dda;
                }
                }
                .login-btn {
                    width: 320px;
                    border-radius: 3px;
                    padding: 10px;
                    background-color: #8a9dee;
                    color: white;
                    border: none;
                    margin-top: 20px;
                text-decoration: none;
                    &:hover {
                        background-color: #7b8dda;
                    }
                }

            }

            .modal button {
                width: 20%;
                height: 30%;
                margin: 0 auto;
                border: 2px solid #000;
                background-color: #fff;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;
                text-transform: uppercase;
                font-weight: 600;
            }

            .modal button:hover {
                border: 2px solid #fff;
                background-color: #000;
                color: #fff;
            }
        }
    }
}
